
.container {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  min-width: 380px;
  height: 90vh;
  margin: auto;
  background-color: black;
}


.question-text {
  flex: 1;
  padding-top: 12px;
  color: white;
  text-align: center;
  font-size:large;
}


.answer-container {
  flex: 4;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  height: auto;;

}


.bottom-panel {
  flex: 1;
  margin-bottom: 30px;
  justify-content: center;
  position: relative;
  height: 40px;
  width: 100%;
  margin-top: auto;
  margin-bottom: 30px;
}

.question-number {
  position: absolute;
  color: white;
  width: 20%;
  height: 100%;
  padding-left: 20px;
  font-size: medium;
  z-index: 100;
  align-content: center;
}

.answers-finished {
  position: absolute;
  left: 15%;
  width: 70%;
  height: 100%;
  text-align: center;
}

div.answers-finished span {
  height: 75%;
  word-wrap:normal;
  text-align: center;
  display: inline-block;

  align-content: center;
  background-color: lightgreen;
  padding: 0px 30px 10px 30px;
  text-align: justify;
  color: black;
  font-size: large;
}

.answer {
  margin: 8px auto;
  background-color: dodgerblue;
  color: black;
  text-align: center;
  font-size: x-large;
  max-width: 80%;
  height: 16% ;
}

div.answer span {
  display: inline-block;
  /* background-color: green; */
  /* margin: 6px auto auto auto; */
  padding: 6px;
}

.answerselected {
  background-color: lightgreen;
}

.selectedCorrect {
  border-width: 10px;
  border-style: solid;
  border-color: green;
}
.selectedIncorrect {
  border-width: 10px;
  border-style: solid;
  border-color: red;
}